@import '~antd/dist/antd.css';
.site-layout-content {
  background: #fff;
  padding: 24px;
  min-height: 500px;
}
#components-layout-demo-top .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}

/* -- custom -- */
.layout{
  background: #fff;
}

.image-container{
  width: 600px;
  margin-top: 40px;
}
.desc-container{
  max-width: 600px;
  margin-bottom: 20px;
}

.title-container{
  max-width: 480px;
  margin-top: 150px;
  margin-bottom: 10px;
}

.button-link{
  font-size: 14px;
  min-height: 48px;
  padding-left: 20px;
  padding-right: 20px;
}

.big-bold-blue{
  color:#000053;
  font-size: 10vh;
  font-weight: bold;
}

.small-blue{
  color:#000042;
  font-size: 4vh;
}

a.ant-btn {
    padding-top: 12.1px;
    line-height: unset;
}
.image-responsive img{
    max-width: 45%;
    margin-top:10vh;
    margin-left: 20%;
}
.container {
    max-width: 600px;
    margin:4vh 0 0;
}

.btn-container{
    margin:0 0 5vh;
}

/* font */
.big-bold-blue{
    color: #000053;
    font-size: 10vh;
    font-weight: bold;
}
.sm-light-grey{
    color: #808080;
    font-size: 3vh;
    font-weight: lighter;
}

.center{
    text-align: center;
}
.justify{
    text-align: justify;
}
@media screen and (max-width: 720px) {
   .image-responsive img{
        max-width: 40%;
        display: flex;
        margin:auto;
        margin-top:2vh;
   }
   .container {
    margin:3vh;
    max-width: 100%;
    margin-bottom: 5px;
    }
    .btn-container{
    margin: 0 15px 5vh;
    max-width: 200px;
    float: left;
    display: flex;
}
    .big-bold-grey{
    color: #808080;
    font-size: 5vh;
    font-weight: bold;
    }
    .sm-light-grey{
        color: #808080;
        font-size: 2vh;
        font-weight: light;
    }
}